.thecotne-imageupload {
	display: block;
	position: absolute;
	margin-left: -40px;
	margin-top: 0px;
    text-decoration: none !important;
}

.thecotne-imageupload::after {
    content: "🖼";
    display: block;
    font: 35px/1 "Apple Color Emoji";
}

.thecotne-imageupload.loading::after {
    content: "⌛";
}
